doctype html 5
head
    title=pageTitle
    link(rel='stylesheet',href='style.css')
    body
        each item in arr
            li 项目 #{item}
        block content
            input(type="test" id="txtFirstName" name="firstname" value="王博")
        foot copyright : 王博